<form nz-form [formGroup]="cropForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="seasonName">Season Name</nz-form-label>
    <nz-form-control nzErrorTip="Please enter season name">
      <input nz-input id="seasonName" formControlName="seasonName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="cropType">Crop Type</nz-form-label>
    <nz-form-control nzErrorTip="Please enter crop type">
      <input nz-input id="cropType" formControlName="cropType" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="area">Area (ha)</nz-form-label>
    <nz-form-control nzErrorTip="Please enter a valid area">
      <input nz-input id="area" formControlName="area" type="number" placeholder="0.0" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="plantingDate">Planting Date</nz-form-label>
    <nz-form-control nzErrorTip="Please select planting date">
      <input nz-input id="plantingDate" formControlName="plantingDate" type="date" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="expectedHarvestDate">Harvest Date</nz-form-label>
    <nz-form-control nzErrorTip="Please select harvest date">
      <input nz-input id="expectedHarvestDate" formControlName="expectedHarvestDate" type="date" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="status">Status</nz-form-label>
    <nz-form-control nzErrorTip="Please select status">
      <nz-select formControlName="status" id="status" placeholder="Select status">
        <nz-option *ngFor="let s of statusOptions" [nzValue]="s.value" [nzLabel]="s.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div class="form-actions">
    <button nz-button nzType="primary" [disabled]="cropForm.invalid">
      {{ isEditMode ? 'Update' : 'Create' }}
    </button>
    <button nz-button nzType="default" (click)="cancel()" type="button">
      Cancel
    </button>
  </div>
</form>
