
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  height: 40px;
}

.weather-info {
  margin-bottom: 20px;
}

.forecast-info {
  margin-top: 20px;
}
