<div class="chat-container">
  <div class="chat-header">
    <div class="header-content">
      <img src="assets/images/chatbotLogo.png" alt="Logo" class="header-logo" />
      <div class="header-text">
        <h1>Trợ lý Nông Nghiệp</h1>
        <p>Hỗ trợ giải đáp thắc mắc cho những người nông dân</p>
      </div>
    </div>
  </div>
  <div class="chat-messages" #chatMessages>
    <div *ngFor="let chat of chatHistory" class="chat-message" [ngClass]="chat.role">
      <div class="message-bubble">
        <p>{{ chat.content }}</p>
      </div>
    </div>
  </div>

  <div class="chat-input">
    <input
      [(ngModel)]="userMessage"
      (keyup.enter)="sendMessage()"
      placeholder="Nhập tin nhắn..."
    />
    <button (click)="sendMessage()">Gửi</button>
  </div>
</div>



