<nz-card
  nzTitle="Quản lý mùa vụ"
  nzBordered
  [nzExtra]="addButtonTemplate"
  class="modern-card"
>
  <nz-table
    [nzBordered]="true"
    [nzData]="cropSeasons"
    [nzLoading]="isLoading"
    [nzSize]="'middle'"
    [nzShowPagination]="false"
    class="crop-season-table"
  >
    <thead>
    <tr>
      <th nzWidth="25%">Tên mùa vụ</th>
      <th nzWidth="15%">Loại cây trồng</th>
      <th nzWidth="10%">Diện tích(m2)</th>
      <th nzWidth="20%">Ngày gieo trồng</th>
      <th nzWidth="20%">Ngày thu hoạch dự kiến</th>
      <th nzWidth="20%">Trạng thái</th>
      <th nzWidth="10%">Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let season of cropSeasons">
      <td>{{ season.seasonName }}</td>
      <td>{{ season.cropType }}</td>
      <td>{{ season.area }}</td>
      <td>{{ season.plantingDate | date: 'mediumDate' }}</td>
      <td>{{ season.expectedHarvestDate | date: 'mediumDate' }}</td>
      <td>
        <nz-tag
          [nzColor]="season.status === 'GROWING' ? 'orange' : season.status === 'NEAR_HARVEST' ? 'green' : 'red'">
          {{ season.status }}
        </nz-tag
        >
      </td>
      <td class="action-buttons">
        <button
          nz-button
          nzType="link"
          nzShape="circle"
          nz-tooltip="Chỉnh sửa mùa vụ"
          (click)="editSeason(season)"
        >
          <i nz-icon nzType="edit"></i>
        </button>
        <button
          nz-button
          nzType="link"
          nzShape="circle"
          nz-tooltip="Xoá mùa vụ"
          (click)="deleteSeason(season.id)"
        >
          <i nz-icon nzType="delete"></i>
        </button>
        <button
          nz-button
          nzType="link"
          nzShape="circle"
          nz-tooltip="Quản lý nhiệm vụ"
          (click)="manageTasks(season.id)"
        >
          <i nz-icon nzType="bars"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<!-- Nút thêm mới -->
<ng-template #addButtonTemplate>
  <button nz-button nzType="primary" class="add-button" (click)="createSeason()">
    <i nz-icon nzType="plus"></i> Thêm mùa vụ
  </button>
</ng-template>
